
 <!DOCTYPE html>
 <html>
 <head>
 
    <style>
        
        form {
            display: flex;
            flex-direction: column;
            width: 180px;
        }
        
        label {
            margin-top: 19px;
        }

        input {
            margin-top: 7px;
        }
        
        .helptext {
            font-size: smaller;
        }
        .container {
            display: flex;
            justify-content: center;
            margin-top: 59px;
        }

    </style>
    
 </head>
 <body>
    
    <div class="container">

        <form method="POST">
            {% csrf_token %}
    
            {{createAlbum}}
            <input type="submit" value="save">
            
        </form> 
    </div>
    </body>
    </html> 
    
